/* Extra XL */
@media (max-width: 1250px) {
  .sub-container {
    width: 95%;
  }
}
/* XL */
@media (max-width: 1200px) {
  .sub-container {
    width: 95%;
  }
}

/* LG */
@media (max-width: 992px) {
  .login-page {
    .group-right {
      display: none;
    }
  }
  footer {
    .sub-container {
      .footer-top {
        h3 {
          font-size: 21px;
        }
      }
    }
  }
  .home-page {
    section.main {
      .content-right {
        flex: 65%;
        justify-content: center;
        width: fit-content;
        width: 95%;
        img {
          width: 100%;
        }
      }
      h2 {
        font-size: 30px;
      }
      p {
        font-size: 15px;
      }
    }
  }
}

/* MD */
@media (max-width: 768px) {
  header {
    .content-middle,
    .content-right {
      display: none;
    }
  }
  footer {
    .sub-container {
      .footer-top {
        h3 {
          font-size: 19px;
        }
      }
      .footer-bottom {
        flex-direction: column;
        row-gap: 10px;
        .logo {
          order: -1;
        }
      }
    }
  }
  .nav-mobile {
    display: block;  
  }
  .home-page {
    section.main {
      main {
        flex-direction: column-reverse;
        row-gap: 30px;
      }
      .content-left {
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 70%;
      }
      .content-right {
        img {
          width: 500px;
        }
      }
    }
    section.brand-logo {
      .list-brand {
        width: 90%;
        .list-item-brand {
          img {
            width: 120px;
          }
        }
      }
    }

    .bg-result-compare {
      /* width: 100px; */
      height: 100%;
    }
    .bg-result-compare th {
      display: none;
    }

    .table-compare td:nth-child(2) {
      border-radius: 8px 0 0 8px;
    }
    .table-compare tbody:nth-child(even) {
      background-color: inherit;
    }
    .table-compare .tr-mobile {
      display: table-row;
    }
    .table-compare .tr-mobile td {
      background-color: var(--Color-Palette-Light-BG);
    }
  }
  .background-compare {
    position: fixed;
    width: auto;
    height: 250px;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    padding: 8px;
  }
  .detail-product-page {
    section.view-product {
      .sub-container {
        .view-img {
          .full-img {
            width: 100%;
            height: 300px;
          }
          .list-view-img {
            img {
              width: 80px;
              height: 80px;
            }
          }
        }
        .detail-description {
          h2 {
            font-size: 20px;
          }
          h3 {
            font-size: 18px;
          }
          button {
            margin: 10px 0;
            font-size: 14px;
          }
          .line {
            span {
              width: 50%;
            }
          }
        }
      }
    }
  }
  .layanan-page {
    section.main {
      padding: 50px 0;
      .sub-container {
        flex-direction: column-reverse;
        row-gap: 30px;
        .content-left {
          width: 90%;
          h2 {
            margin: 20px 0 10px 0;
            font-size: 26px;
            text-align: center;
          }
          p {
            font-size: 15px;
            text-align: justify;
          }
        }
        .content-right {
          width: 90%;
        }
      }
    }
  }
  .kerja-sama-page {
    section.main {
      padding: 50px 0;
      .sub-container {
        flex-direction: column-reverse;
        row-gap: 0;
        .content-left {
          width: 90%;
          h2 {
            margin: 20px 0 10px 0;
            font-size: 26px;
            text-align: center;
          }
          p {
            font-size: 15px;
            text-align: justify;
          }
        }
        .content-right {
          width: 90%;
        }
        a {
          grid-column: auto;
        }
      }
    }
    section.list-service {
      .sub-container {
        a {
          grid-column: auto;
        }
      }
    }
  }

  .cart-container {
    position: relative; 
    display: block;
    width: 50px;
    height: 50px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center; 
    &:hover::after {
      display: none;
    }
    &:hover ~ .cart-show {
      display: none;
    }
  }

  .indicator {
    top: -5px;
    right: -5px; 
    font-size: 10px;
    width: 16px;
    height: 16px; 
  }
}

/* SM */
@media (max-width: 576px) {
  .login-page {
    h1 {
      font-size: 30px;
    }
    ul {
      width: 95%;
    }
  }

  section.product .customize-filter {
    flex-direction: column-reverse;
    row-gap: 5px;
    .bg-filter {
      width: 100%;
    }
  }
  footer {
    padding-bottom: 70px;
    .sub-container {
      .footer-top {
        flex-direction: column;
        padding: 20px;
        row-gap: 20px;
        h3 {
          text-align: center;
          margin: auto;
        }
      }
      .footer-mid {
        flex-direction: column;
        margin: 20px 0;
        row-gap: 20px;
        .footer-nav {
          width: 100%;
          font-size: 16px;
          margin: auto;
          justify-content: space-between;
          display: none;
        }
        .footer-social {
          justify-content: space-evenly;
          padding: 0 50px;
        }
      }
      .footer-bottom {
        margin: 20px 0 0 0;
      }
    }
  }
  .home-page {
    section.main {
      main {
        flex-direction: column-reverse;
        row-gap: 30px;
      }
      .content-left {
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 85%;
      }
      .content-right {
        img {
          width: 95%;
        }
      }
    }
    .table-compare thead td,
    .table-compare thead th {
      width: 150px;
      height: 150px;
    }
  }
  section.product {
    .sub-container {
      .product-content {
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
      }
    }
  }
  .detail-product-page {
    section.view-product {
      .sub-container {
        flex-direction: column;
        row-gap: 10px;
        .view-img {
          border-bottom: 1px solid;
          margin-bottom: 20px;
          width: 100%;
          .full-img {
            width: 100%;
            height: 300px;
          }
          .list-view-img {
            img {
              width: 80px;
              height: 80px;
            }
          }
          .share {
            padding: 10px 0;
            margin-top: 0;
            margin-bottom: 10px;
          }
        }
        .detail-description {
          h2 {
            font-size: 25px;
            text-transform: lowercase;
          }
          h3 {
            margin-top: 10px;
            font-size: 20px;
            &::before {
              content: "Rp ";
            }
          }
          button {
            margin: 10px 0;
            font-size: 14px;
          }
        }
      }
    }
    section.more-product {
      .product-content {
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
      }
    }
  }
  .kontak-page {
    section.main {
      padding: 50px 0;
      .sub-container {
        flex-direction: column-reverse;
        row-gap: 0;
        .content-left {
          width: 90%;
          h2 {
            margin: 20px 0 10px 0;
            font-size: 26px;
            text-align: center;
          }
          p {
            font-size: 15px;
            text-align: center;
          }
        }
        .content-right {
          width: 90%;
        }
        a {
          grid-column: auto;
        }
      }
    }
    section.maps-card {
      margin: 20px 0;
      padding: 20px 0;
      background-color: var(--Color-Palette-Light-UnitBG);
      .sub-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
      }
    }
  }
  .profile-page {
    .sub-container {
      .content-card {
        flex-direction: column;
        .content-left {
          width: 100%;
        }

        .exit-container {
          .exit-bg {
            width: 300px;
            height: 150px;
            h3 {
              font-size: 16px;
              font-weight: 500;
            }
            .btn-bg {
              button {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
  .sub-container {
    .bg-all {
      flex-direction: column-reverse;
    }
  }
  #home
    > section.product
    > div
    > div.filter-content
    > div.background-filter
    > div {
    width: 90%;
    padding: 15px 25px;
  }
  .bg-payment {
    .payment-card {
      /* width: 100%;
      height: 100%; */
    }
  }
}

/* keyframe animtion */
@keyframes bouncein {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }

  50% {
    opacity: 1;
    transform: scale(1);
  }

  70% {
    transform: scale(0.97);
  }

  to {
    transform: scale(1);
  }
}
@keyframes pudar {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  70% {
    opacity: 0.7;
  }

  to {
    opacity: 1;
  }
}
@keyframes pudarin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
